@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
  font-family: "Poppins";

  padding: 1.2rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline: 2rem;
  height: 80vh;

}

.mainContainer_left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  /* stack items vertically */
  justify-content: center;
  /* center vertically inside left container */
  gap: 1rem;
  /* optional spacing between elements */
}

.mainContainer_right {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  /* center image perfectly */
}


.mainContainer_left>p:nth-child(1) {
  font-size: 2.9rem;
  background: -webkit-linear-gradient(70deg, #72114b, #111115);
  /* gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* for non-webkit browsers */

  /* Animation */
  background-size: 200% 200%;
  font-weight: 550;
  /* allow movement */
  animation: breatheText 2s infinite ease-in-out;
}

@keyframes breatheText {
  0% {
    background-position: 0% 50%;
    opacity: 0.8;
  }

  50% {
    background-position: 100% 50%;
    opacity: 1;
  }

  100% {
    background-position: 0% 50%;
    opacity: 0.8;
  }
}


.mainContainer_left>p:nth-child(2) {
  color: #4d4d4d;
  font-size: 1.7rem;
}

.mainContainer_left>div.buttonJoin {
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  color: white;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  border-radius: 20px;
  background: linear-gradient(135deg, #ff6ec4, #7873f5);
  animation: breathe 2.5s infinite alternate ease-in-out;



}



@keyframes breathe {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

.mainContainer_right img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 0;

}